# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/
.vs/
bin/

C#/.vs
C#/SaveUp_App/obj
C#/SaveUp_App/bin
*.csproj.user


# Ignorar archivos temporales de compilación
bin/
obj/
Debug/
Release/

# Ignorar archivos de configuración de NuGet
*.cache
project.assets.json
*.nuget.dgspec.json
*.lock.json

# Ignorar archivos específicos de Visual Studio
.vs/